.kalkulacka {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 20px;
    border: none;
    background-color: #fff;
    text-align: center;
}

h1 {
    color: #357EC7;
    text-align: center;
    padding-top: 70px;
}
button {
    padding: 10px;
    font-size: 16px;
    width: 25%;
    cursor: pointer;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 20px;
    border: black;
    background-color: #fff;
    text-align: center;
}

body {
    text-align: center;
}

.buttonEqual {
    background-color: #357EC7;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 50%;
}

.buttonWhite {
 background-color: aliceblue;
}
